* {
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-size-adjust: 100%;
    --primary-color: white;
    --secondary-color: black;
    --bs-primary:rgb(129 129 129);
    --bs-secondary:rgb(67, 67, 175);
    --bg-primary: rgba(160, 153, 153, 0.733) ;
    --bg-secondary: rgba(14, 13, 17, 0.747) ;
}

body{
    display: block;
}


img{
    width: 50%;
}

i{
    margin: 0.5rem;
}

.container{
    color: var(--primary-color);
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
}
    
.home .container{
    background-color: var(--primary-color);
    height: 100vh;
}

.sobre .container{
    background:linear-gradient(0deg ,#2b2b2b, #424242);
    height: calc(100vh - 4rem);
}

.nav-bar .container {
    background-color: var(--secondary-color);
    height: 3.5rem;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-link{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-link:active{
    text-decoration: none;
    color: var(--bs-primary);
}

.nav-link:hover{
    color: var(--bs-primary);
}

.nav-link-secondary{
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-link-secondary:active{
    text-decoration: none;
    color: var(--secondary-color);
}

.nav-link-secondary:hover{
    color: var(--bs-secondary) ;
}

.nav-bar{
    width: 100%;
    position: fixed;
}
.nav-bar .nav-itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.nav-bar .container .nav-itens .itens{
    display: flex;
    flex-direction: row;
}
.nav-bar .container .nav-itens .itens li{   
    list-style: none;
    padding: 0;         
    width: auto;
    margin: 20px;
    padding-inline-start: 0%;
}
.grid-itens{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.grid-itens .itens{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio .container{
    background: linear-gradient(180deg ,#ffffff38, #414141);
    padding-top: 5rem;
    padding-bottom: 1.5rem;
}

.portfolio .grid-itens{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem;
}

.footer .container{
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: center;
    flex-direction: column;
}

.bg-primary{
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
}

.bg-secondary{
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
}
.rounded{
    width: 15%;
    border-radius: 50%;
    
}
.aling-center{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
.mb{
    margin-bottom: auto;
    padding: 1rem;
}

.col{
    background: radial-gradient(#bbbbd894, #07163959);
    box-shadow: 0px 0px 8px 0px var(--bg-secondary);
    border-radius: 1rem;
    width: 25%;
    height: 25vh;
    padding: 0.5rem;
    margin: 1rem;
}

.aling-center .itens{
    background-color: #404040d6;
    height: 100%;
    border-radius: 1rem;
}

.nav-bar .icon{
    display: none;
}

@media (max-width: 720px) {
    h4{
        font-size: 1.4rem;
    }

    .aling-center{
        width: auto;
    }

    .itens{
        width: 50%;
    }
    .container{
        width: 100%;
    }

    .grid-itens{
        flex-direction: column;
        
    }
    .grid-itens .itens{
        flex-direction: column;
        align-items: center;
    }

    .col{
        width: 75%;
        margin: 0;
        margin-bottom: 1rem;
        align-items: center;
    }

    .icons{
        width: 100%;
    }

    img{
        width: 50%;
    }
    .rounded{
        width: 35%;
    }
    .mb{
        margin-bottom: 0.5rem;
    }
    .nav-bar .container{ width: auto;}
    .nav-bar .container .itens :first-child {
        display: none;
    }
    .nav-bar .container a.icon {
        float: right;
        display: block;
    }

    .nav-bar .responsive {
        background-color: var(--secondary-color);
        width: auto;
        height: 100vh;
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    }

    .nav-bar .responsive .nav-itens{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .nav-bar .responsive .itens{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-bar .responsive .icon {
        position: absolute;
        right: 1rem;
        top: 0;
    }
    .nav-bar .responsive a {
        float: none;
        text-align: left;
        display: inline;

    }

    
}


